@font-face {
  font-family: "open-sans";
  src: url("fonts/OpenSans-Regular.ttf");
}

Button {
  -fx-background-color: transparent;
}

Button:hover {
  -fx-text-fill: #dadada;
}
.active {
  -fx-background-color: #333946;
}

.transparent {
  -fx-background-color: transparent;
}

.scroll-pane > .viewport {
  -fx-background-color: transparent;
}

.regular {
  -fx-font-family: "open-sans";
}
