Button {
  -fx-background-color: transparent;
}

Button:hover {
  -fx-text-fill: #575757;
}
.active {
  -fx-background-color: #333946;
}

.item:hover {
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
  -fx-scale-z: 1.1;
}
